# Code Climate Connector: {{connectorSlug}}

TODO - describe your connector here

## Configuration

TODO - describe the configuration your connector uses here.

## Running the connector locally

To run the connector in an integration environment, the
[`codeclimate-connector-sdk`][sdk] provides a CLI you can use.

1. Write valid configuration to `connector-config.json`.
2. To ensure the project's current code has been compiled into `./lib` for
   execution, run `yarn build`.
3. Then, to run a sync, run the following (replace `YYYY-MM-DD` with the date
   you want to sync back to):

    ```
    yarn run codeclimate-connector sync-stream {{connectorSlug}} connector-config.json stream-json-or-null YYYY-MM-DD
    ```

[sdk]: https://github.com/codeclimate/codeclimate-connector-sdk

